{% extends "base.html" %}


{% block title %} New Password Check {% endblock title %}

{% block content %}


<h3> Check Your Password </h3>

<form method="post" action="/password/check">
    <p>
        <strong> Your New Password: </strong>
        <input type="password" name="new-password" placeholder="Enter your new password"><br>
    </p>

        <strong> Re-enter Your New Password: </strong>
        <input type="password" name="new-password2" placeholder="Re-Enter your new password"><br>
    </p>

       <button>Submit</button>

    </form>

{% endblock content %}